.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px; }

.main-nav {
  display: block;
  width: 100%;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .main-nav {
      padding: 0 10%; } }
  @media (max-width: 1199px) {
    .main-nav {
      padding: 0 5.71429%; } }
  .main-nav__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto; }
  @media (min-width: 1200px) {
    .main-nav__list {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 12%; }
      .main-nav__list li {
        text-align: center;
        list-style: none; }
      .main-nav__list a {
        color: #fff; }
      .main-nav__list__open-menu {
        display: none; } }
  @media (max-width: 1199px) {
    .main-nav__list {
      display: none; } }
  @media (max-width: 1199px) {
    .main-nav__open-menu {
      width: 50px;
      height: 25px; } }
  @media (min-width: 1200px) {
    .main-nav__open-menu {
      display: none; } }
  .main-nav__logo {
    display: block;
    width: 146px;
    height: 46px; }
    @media (max-width: 699px) {
      .main-nav__logo {
        width: 77px;
        height: 27px; } }
    .main-nav__logo-desktop, .main-nav__logo-mobile, .main-nav__logo-tablet {
      display: none;
      max-width: 100%;
      max-height: 100%; }
    @media (min-width: 1200px) {
      .main-nav__logo-desktop {
        display: block; } }
    @media (max-width: 1199px) and (min-width: 700px) {
      .main-nav__logo-tablet {
        display: block; } }
    @media (max-width: 699px) {
      .main-nav__logo-mobile {
        display: block; } }
  .main-nav .menu-burger {
    max-width: 100%;
    max-height: 100%; }
  .main-nav__item:first-child {
    -webkit-flex-grow: 0.524;
    -ms-flex-positive: 0.524;
    flex-grow: 0.524;
    padding: 32px 0; }
  .main-nav__item:nth-child(2) {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.intro {
  padding: 1px;
  box-sizing: border-box; }
  @media (min-width: 700px) {
    .intro {
      min-height: 854px;
      background: url("../img/background-2@1x.jpg") #283645 no-repeat center;
      background-size: cover; } }
  @media (max-width: 1199px) {
    .intro {
      min-height: 728px; } }
  @media (min-width: 700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (min-resolution: 192dpi) {
    .intro {
      background: url("../img/background-2@2x.jpg") #283645 no-repeat center; } }
  @media (max-width: 699px) {
    .intro {
      min-height: 735px;
      background: url("../img/background-1@1x.jpg") #283645 no-repeat 0 -275px;
      background-size: cover; } }
  @media (max-width: 699px) and (-webkit-min-device-pixel-ratio: 3), (max-width: 699px) and (min-resolution: 288dpi) {
    .intro {
      background: url("../img/background-1@3x.jpg") #283645 no-repeat center; } }
  @media (max-width: 699px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 699px) and (min-resolution: 192dpi) {
    .intro {
      background: url("../img/background-1@2x.jpg") #283645 no-repeat center; } }
  .intro__content {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    color: #fff; }
    @media (min-width: 701px) {
      .intro__content {
        margin-top: 225px; } }
    @media (max-width: 699px) {
      .intro__content {
        margin-top: 95px; } }
    @media (min-width: 1200px) {
      .intro__content {
        padding: 0 10%; } }
    @media (max-width: 1199px) {
      .intro__content {
        padding: 0 5.71429%; } }
  .intro__photo {
    position: absolute;
    z-index: 1;
    top: -17px;
    right: 12.5%; }
    @media (max-width: 1199px) {
      .intro__photo {
        top: -44px;
        right: 5%;
        width: 470px;
        height: 545px;
        background: url("../img/iphone-hand-2@1x.png") no-repeat 80% 0; } }
    @media (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1199px) and (min-resolution: 192dpi) {
      .intro__photo {
        background: url("../img/iphone-hand-2@2x.png") no-repeat 80% 0; } }
    @media (max-width: 700px) {
      .intro__photo {
        width: 257px;
        height: 285px;
        margin: 0 auto;
        left: -6%;
        top: 78px;
        background: url("../img/iphone-hand-1.png") no-repeat 68% 0; } }
    @media (max-width: 700px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 700px) and (min-resolution: 192dpi) {
      .intro__photo {
        background: url("../img/iphone-hand-1@2x.png") no-repeat 68% 0; } }
    @media (max-width: 700px) and (-webkit-min-device-pixel-ratio: 3), (max-width: 700px) and (min-resolution: 288dpi) {
      .intro__photo {
        background: url("../img/iphone-hand-1@3x.png") no-repeat 68% 0; } }
    @media (min-width: 1200px) {
      .intro__photo {
        width: 565px;
        height: 645px;
        background: url("../img/iphone-hand-3@1x.png") no-repeat 68% 0; } }
    @media (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1201px) and (min-resolution: 192dpi) {
      .intro__photo {
        background: url("../img/iphone-hand-3@2x.png") no-repeat; } }

.download-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 302px;
  text-align: center; }
  @media (max-width: 699px) {
    .download-info {
      margin: 0 auto; } }
  .download-info__slogan {
    margin-bottom: 36px;
    font-size: 5rem;
    font-weight: 300; }
    @media (max-width: 699px) {
      .download-info__slogan {
        margin-bottom: 340px;
        font-size: 2.4rem;
        opacity: 0.6;
        font-weight: 400; } }
  .download-info__link {
    display: block;
    padding: 15px 0;
    margin-bottom: 45px;
    font-weight: 700;
    color: #fff;
    border: solid 4px;
    border-radius: 50px; }
    @media (max-width: 699px) {
      .download-info__link {
        margin-bottom: 30px; } }
  .download-info__description {
    font-weight: 300;
    opacity: 0.6; }

.quick-download {
  margin-bottom: 15px; }
  @media (max-width: 699px) {
    .quick-download {
      margin-bottom: 0; } }
  .quick-download__item {
    width: 22%;
    display: inline-block;
    height: 51px; }
  .quick-download__item:first-child {
    height: 56px; }
  .quick-download__android-logo, .quick-download__apple-logo, .quick-download__microsoft-logo {
    max-width: 100%;
    max-height: 100%; }

.promo {
  width: 100%;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden; }
  .promo__slogan {
    width: 740px;
    margin: 0 auto 60px;
    font-size: 5rem;
    font-weight: 300;
    color: #283645;
    text-align: center; }
    .promo__slogan--narrow {
      display: block;
      width: 725px; }
      @media (max-width: 699px) {
        .promo__slogan--narrow {
          width: 210px;
          margin-top: 30px; } }
    @media (max-width: 699px) {
      .promo__slogan {
        width: 210px;
        font-size: 2.4rem; } }
  .promo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 700px;
    top: 280px;
    left: -1px;
    -webkit-transform: rotate(-4.5deg);
    -ms-transform: rotate(-4.5deg);
    transform: rotate(-4.5deg);
    background-color: #f2f2f2;
    background-clip: content-box; }
  .promo:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 800px;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2; }

.features {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box; }
  @media (max-width: 1199px) {
    .features {
      min-height: 839px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      -ms-grid-row-align: flex-end;
      align-items: flex-end;
      padding-right: 5.71429%;
      padding-top: 40px;
      background: url("../img/iphone-screen-2-3@1x.png") no-repeat 5.71429% 15px; } }
  @media (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1199px) and (min-resolution: 192dpi) {
    .features {
      background: url("../img/iphone-screen-2-3@2x.png") no-repeat 5.71429% 15px; } }
  @media (max-width: 699px) {
    .features {
      margin-top: 80px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      min-height: 765px;
      padding: 0 10%;
      background: url("../img/iphone-screen-1-3@1x.png") no-repeat 50% 100%, url("../img/iphone-case-1@1x.png") no-repeat 50% 100%;
      background-size: 140px auto, 160px auto; } }
  @media (max-width: 699px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 699px) and (min-resolution: 192dpi) {
    .features {
      background: url("../img/iphone-screen-1-3@2x.png") no-repeat 50% 100%, url("../img/iphone-case-1@2x.png") no-repeat 50% 100%;
      background-size: 140px auto, 160px auto; } }
  @media (max-width: 699px) and (-webkit-min-device-pixel-ratio: 3), (max-width: 699px) and (min-resolution: 288dpi) {
    .features {
      background: url("../img/iphone-screen-1-3@3x.png") no-repeat 50% 100%, url("../img/iphone-case-1@3x.png") no-repeat 50% 100%;
      background-size: 140px auto, 160px auto; } }
  .features__item {
    text-align: center;
    color: #000; }
    @media (min-width: 1200px) {
      .features__item {
        padding-top: 330px;
        -webkit-flex-basis: 30.41667%;
        -ms-flex-preferred-size: 30.41667%;
        flex-basis: 30.41667%; } }
    @media (max-width: 1199px) {
      .features__item {
        width: 50%;
        text-align: left;
        margin-top: 43px; } }
    @media (max-width: 699px) {
      .features__item {
        text-align: center;
        width: 100%; } }
    .features__item p {
      padding: 0 13px;
      font-size: 1.8rem;
      line-height: 30px; }
      @media (max-width: 1199px) {
        .features__item p {
          font-size: 1.4rem;
          line-height: 24px;
          padding: 0; } }
    .features__item h2 {
      margin: 0;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.1; }
      @media (max-width: 1199px) {
        .features__item h2 {
          font-size: 1.8rem;
          padding: 0; } }
    @media (min-width: 1200px) {
      .features__item:first-child {
        background: url("../img/iphone-screen-3-1@1x.png") no-repeat; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi) {
    .features__item:first-child {
      background: url("../img/iphone-screen-3-1@2x.png") no-repeat; } }
    @media (min-width: 1200px) {
      .features__item:nth-child(2) {
        background: url("../img/iphone-screen-3-2@1x.png") no-repeat; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi) {
    .features__item:nth-child(2) {
      background: url("../img/iphone-screen-3-2@2x.png") no-repeat; } }
    @media (min-width: 1200px) {
      .features__item:nth-child(3) {
        background: url("../img/iphone-screen-3-3@1x.png") no-repeat; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi) {
    .features__item:nth-child(3) {
      background: url("../img/iphone-screen-3-3@2x.png") no-repeat; } }
    .features__item--research {
      margin-top: 55px;
      position: relative;
      padding: 100px 0 100px 375px;
      color: #000; }
      @media (max-width: 1199px) {
        .features__item--research {
          padding-left: 50%;
          padding-top: 70px;
          margin-top: 20px; } }
      .features__item--research h2 {
        margin-bottom: 25px; }
        @media (max-width: 1199px) {
          .features__item--research h2 {
            font-size: 3rem; } }
      .features__item--research p {
        margin-bottom: 40px; }
        @media (max-width: 1199px) {
          .features__item--research p {
            font-size: 1.4rem;
            line-height: 24px; } }
      @media (max-width: 1199px) {
        .features__item--research {
          margin-top: 90px; } }
      @media (max-width: 699px) {
        .features__item--research {
          display: none; } }
  .features__timer {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 0;
    left: 1.8%; }
    @media (max-width: 1199px) {
      .features__timer {
        width: 270px;
        left: 4.5%; } }

html {
  font-size: 10px;
  min-width: 320px; }

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #283645;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #d22856;
  text-decoration: none; }

/*# sourceMappingURL=maps/style.css.map */
