.contact {
    position: relative;
    z-index: 3;
    min-height: 345px;
    padding-top: 40px;
    padding-left: 180px/1200px * 100%;
    padding-right: 180px/1200px * 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-color: $white;
    @media(max-width: 1199px) {
        min-height: 480px;
        padding-left: 95px/1200px * 100%;
        padding-right: 95px/1200px * 100%;
    }
    &__header {
        display: block;
        margin: 0 auto;
        width: 465px;
        text-align: center;
        font-size: $font-size--lg;
        font-weight: 300;
        margin-bottom: 70px;
        @media(max-width: 699px) {
            width: 225px;
            padding-top: 40px;
            margin-bottom: 40px;
            font-size: $font-size--md;
        }
    }
    &__item {
        position: relative;
        z-index: 3;
        display: block;
        float: left;
        width: 28%;
        vertical-align: top;
        text-align: center;
        &:not(:last-child) {
            margin-right: 85px/1200px * 100%;
        }
        @media(max-width: 1199px) {
            &--address {
                position: absolute;
                z-index: 3;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &:not(:last-child) {
                margin-right: 0;
            }
            &--phone {
                float: left;
            }
            &--feedback {
                float: right;
            }
        }
        @media(max-width: 699px) {
            float: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 24px;
            text-align: center;
            &--address {
                bottom: 28px;
                width: 423px;
            }
        }
    }
    &__info {
        font-size: $font-size--md;
        color: $pink;
        font-weight: 300;
    }
    &__mark {
        display: block;
        font-weight: 700;
        margin-bottom: 20px;
        @media(max-width: 699px) {
            margin-bottom: 8px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: -124px;
        left: 0;
        background: linear-gradient(to left bottom, $white 50%, transparent 50%);
        height: 125px;
        width: 50%;
        @media(max-width: 1199px) {
            height: 70px;
            bottom: -69px;
        }
        @media(max-width: 699px) {
            height: 35px;
            bottom: -34px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: -124px;
        right: 0;
        background: linear-gradient(to right bottom, $white 50%, transparent 50%);
        height: 125px;
        width: 50%;
        @media(max-width: 1199px) {
            height: 70px;
            bottom: -69px;
        }
        @media(max-width: 699px) {
            height: 35px;
            bottom: -34px;
        }
    }
}
