.download-info {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    width: 302px;
    text-align: center;
    @media(max-width: 699px) {
        margin: 0 auto;
        width: 100%;
        height: 980px;
        justify-content: space-around;
    }
    &__slogan {
        margin-bottom: 36px;
        font-size: $font-size--lg;
        font-weight: 300;
        @media(max-width: 699px) {
            display: block;
            width: 300px;
            margin: 0 auto 460px;
            font-size: $font-size--bg;
            opacity: 0.7;
            font-weight: 400;
        }
    }
    &__btn {
        display: block;
        padding: 15px 0;
        margin-bottom: 45px;
        font-weight: 700;
        color: $white;
        border: solid 5px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        &:hover {
            background-color: $white;
            color: $pink;
            border-color: $white;
        }
        &:active {
            color: lighten($pink, 20%);
        }
        @media(max-width: 699px) {
            margin-bottom: 0;
            padding-top: 20px;
            width: 100%;
            height: 40px;
            font-size: $font-size--bg;
            font-weight: 400;
        }
    }
    &__description {
        font-weight: 100;
        @media(max-width: 699px) {
            margin-bottom: 20px;
        }
    }
}
.quick-download {
    margin-bottom: 15px;
    @media(max-width: 699px) {
        margin-bottom: 0;
    }
    &__item {
        width: 22%;
        display: inline-block;
        height: 51px;
        @media(max-width: 699px) {
            margin-left: 15px;
            height: 76px;
        }
    }
    &__item:first-child {
        height: 56px;
        @media(max-width: 699px) {
            margin-left: 0;
            height: 89px;
        }
    }
    &__android-logo,
    &__apple-logo,
    &__microsoft-logo {
        max-width: 100%;
        max-height: 100%;
    }
}
