.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    @media(max-width: 1199px) {
        min-height: 839px;
        flex-direction: column;
        align-items: flex-end;
        padding-right: (40px/700px * 100%);
        padding-top: 50px;
        background: url("../img/iphone-screen-2-3@1x.png") no-repeat (40px/700px * 100%) 31px;
        @media(min-resolution: 192dpi) {
            background: url("../img/iphone-screen-2-3@2x.png") no-repeat (40px/700px * 100%) 31px;
        }
    }
    @media(max-width: 699px) {
        margin-top: 80px;
        min-height: 940px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10%;
        padding-top: 65px;
        padding-bottom: 500px;
        background: url("../img/iphone-screen-1-3@1x.png") no-repeat 50% 100%, url("../img/iphone-case-1@1x.png") no-repeat 50% 100%;
        background-size: 200px auto, 220px auto;
        @media(min-resolution: 192dpi) {
            background: url("../img/iphone-screen-1-3@2x.png") no-repeat 50% 100%,
            url("../img/iphone-case-1@2x.png") no-repeat 50% 100%;
            background-size: 200px auto, 220px auto;
        }
        @media(min-resolution: 288dpi) {
            background: url("../img/iphone-screen-1-3@3x.png") no-repeat 50% 100%,
            url("../img/iphone-case-1@3x.png") no-repeat 50% 100%;
            background-size: 200px auto, 220px auto;
        }
    }
    &__item {
        text-align: center;
        color: $black;
        @media(min-width: 1200px) {
            padding-top: 330px;
            flex-basis: 292px/960px * 100%;
        }
        @media(max-width: 1199px) {
            width: 50%;
            text-align: left;
            margin-top: 43px;
        }
        @media(max-width: 699px) {
            text-align: center;
            width: 100%;
            padding-top: 0px;
        }
        & p {
            padding: 0 13px;
            font-size: $font-size;
            line-height: 30px;
            color: $blue;
            @media(max-width: 1199px) {
                font-size: $font-size-sm;
                line-height: 24px;
                padding: 0;
            }
            @media(max-width: 699px) {
              font-family: $font-family-base;
              font-size: $font-size;
              line-height: 34px;
            }
        }
        & h2 {
            margin: 0;
            font-size: $font-size--bg;
            font-weight: 700;
            line-height: 1.1;
            @media(max-width: 1199px) {
                font-size: $font-size--md;
                padding: 0;
                line-height: 1.3;
            }
        }
        &:first-child {
            @media(min-width: 1200px) {
                background: url("../img/iphone-screen-3-1@1x.png") no-repeat;
                @media(min-resolution: 192dpi) {
                    background: url("../img/iphone-screen-3-1@2x.png") no-repeat;
                }
            }
        }
        &:nth-child(2) {
            @media(min-width: 1200px) {
                background: url("../img/iphone-screen-3-2@1x.png") no-repeat;
                @media(min-resolution: 192dpi) {
                    background: url("../img/iphone-screen-3-2@2x.png") no-repeat;
                }
            }
        }
        &:nth-child(3) {
            @media(min-width: 1200px) {
                background: url("../img/iphone-screen-3-3@1x.png") no-repeat;
                @media(min-resolution: 192dpi) {
                    background: url("../img/iphone-screen-3-3@2x.png") no-repeat;
                }
            }
        }
        &--research {
            margin-top: 55px;
            position: relative;
            padding: 100px 0 100px 375px;
            color: $black;
            @media(max-width: 1199px) {
                padding-left: 50%;
                padding-top: 70px;
                margin-top: 20px;
            }
            & h2 {
                margin-bottom: 25px;
                @media(max-width: 1199px) {
                    font-size: $font-size--bg;
                }
            }
            & p {
                margin-bottom: 40px;
                @media(max-width: 1199px) {
                    font-size: $font-size-sm;
                    line-height: 24px;
                }
            }
            @media(max-width: 1199px) {
                margin-top: 90px;
            }
            @media(max-width: 699px) {
                display: none;
            }
        }
    }
    &__timer {
        position: absolute;
        width: 300px;
        height: 350px;
        top: 0;
        left: 1.8%;
        @media(max-width: 1199px) {
            width: 270px;
            left: 4.5%;
        }
    }
}
