.main-footer {
    width: 100%;
    box-sizing: border-box;
    @media(min-width: 1200px) {
        padding: 0 10%;
    }
    @media(max-width: 1199px) {
        padding: 0 (40px/700px * 100%);
    }
    @media(max-width: 699px) {
        display: none;
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 960px;
        height: 200px;
        margin: 0 auto;
        @media(max-width: 1199px) {
            height: 130px;
        }
    }
    &__logo {
        width: 166px;
        height: 56px;
        &--desktop,
        &--tablet {
            display: none;
            max-width: 100%;
            max-height: 100%;
        }
        @media(min-width: 1200px) {
            &--desktop {
                display: block;
            }
        }
        @media(max-width: 1199px) {
            &--tablet {
                display: block;
            }
        }
    }
    &__social-wrapper {
        font-size: 0;
    }
    &__social-icon {
        width: 50px;
        height: 30px;
        margin-right: 10px;
        fill: $pink;
        &--youtube {
            margin-right: 0;
        }
    }
    &__copyright {
        width: 160px;
        cursor: pointer;
    }
}
.grid__item--footer {
    margin-top: -125px;
    @media(max-width: 1199px) {
        margin-top: -70px;
    }
    @media(max-width: 699px) {
        display: none;
    }
}
