@mixin flex-list() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
}
.main-nav {
  display: block;
  width: 100%;
  padding: 0 10%;
  background-color: $blue;
  box-sizing: border-box;
  &__container {
    @include flex-list();
  }
  &__list {
    @include flex-list();
    & li {
      text-align: center;
      list-style: none;
    }
  }
  &__logo {
    display: block;
    width: 150px;
  }
  &__logo-desktop {
    width: 100%;
  }
  &__item:first-child {
    flex-grow: 0.524;
  }
  &__item:last-child {
    flex-grow: 1;
  }
}
