@mixin flex-list() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
}

.main-nav {
    display: block;
    width: 100%;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    @media(min-width: 1200px) {
        padding: 0 10%;
    }
    @media(max-width: 1199px) {
        padding: 0 (40px/700px * 100%);
    }
    @media(max-width: 699px) {
        max-height: 100px;
    }
    &__container {
        @include flex-list();
        max-width: 960px;
        margin: 0 auto;
    }
    &__list {
        @media(min-width: 1200px) {
             @include flex-list();
            padding-left: 12%;
            & li {
                text-align: center;
                list-style: none;
            }
            & a {
                color: $white;
            }
            &__open-menu {
                display: none;
            }
        }
        @media(max-width: 1199px) {
            display: none;
        }
    }
    &__open-menu {
        @media(max-width: 1199px) and (min-width: 700px) {
            width: 60px;
            height: 35px;
            margin-top: 10px;
        }
        @media(min-width: 1200px) {
            display: none;
        }
        @media(max-width: 699px) {
            margin-top: -25px;
            width: 70px;
        }

    }
    &__logo {
        display: block;
        width: 146px;
        height: 46px;
        @media(max-width: 699px) {
            width: 110px;
            margin-top: -25px;
        }
        &-desktop,
        &-mobile,
        &-tablet {
            display: none;
            max-width: 100%;
            max-height: 100%;
        }
        @media(min-width: 1200px) {
            &-desktop {
                display: block;
            }
        }
        @media(max-width: 1199px) and (min-width: 700px) {
            &-tablet {
                display: block;
            }
        }
        @media(max-width: 699px) {
            &-mobile {
                display: block;
            }
        }
    }
    .menu-burger {
        max-width: 100%;
        max-height: 100%;
    }
    &__item:first-child {
        flex-grow: 0.524;
        padding: 32px 0;
    }
    &__item:nth-child(2) {
        flex-grow: 1;
    }
}
