@mixin flex-list() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.main-nav {
    display: block;
    width: 100%;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    @media(min-width: 1200px) {
        padding: 0 10%;
    }
    @media(max-width: 1199px) {
        padding: 0 (40px/700px * 100%);
    }
    @media(max-width: 699px) {
        max-height: 100px;
    }
    &__container {
        @include flex-list();
        position: relative;
        max-width: 960px;
        margin: 0 auto;
    }
    &__list {
        @media(min-width: 1200px) {
             @include flex-list();
            padding-left: 12%;
            & li {
                text-align: center;
                list-style: none;
            }
            & a {
                color: $white;
                &:hover {
                    border-bottom: solid $white 1px;
                    padding-bottom: 2px;
                }
                &:active {
                    border-bottom: none;
                    color: $gray;
                }
            }
            &__open-menu {
                display: none;
            }
        }
        @media(max-width: 1199px) {
            display: none;
        }
    }
    &__list--mobile {
        @media(max-width: 1199px) {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 5;
            top: 82px;
            right: 0;
            width: 100%;
            list-style: none;
            & li {
                display: block;
                width: 120%;
                margin-left: -10%;
                padding: 20px 0;
                text-align: center;
                border: solid 3px;
                background-color: $blue;
                font-size: 20px;
                border-bottom: solid darken($blue, 10%) 1px;
                & a {
                    color: $white;
                }
            }
        }
        @media(max-width: 699px) {
            & li {
                padding: 30px 0;
            }
        }
    }
    &__open-menu {
        @media(max-width: 1199px) and (min-width: 700px) {
            width: 60px;
            height: 35px;
            margin-top: 10px;
        }
        @media(min-width: 1200px) {
            display: none;
        }
        @media(max-width: 699px) {
            margin-top: -25px;
            width: 70px;
        }
    }
    &__open-btn {
        cursor: pointer;
    }
    &__logo {
        display: block;
        width: 146px;
        height: 46px;
        margin-top: -10px;
        @media(max-width: 699px) {
            width: 110px;
            margin-top: -25px;
        }
        &-desktop,
        &-mobile,
        &-tablet {
            display: none;
            max-width: 100%;
            max-height: 100%;
        }
        @media(min-width: 1200px) {
            &-desktop {
                display: block;
            }
        }
        @media(max-width: 1199px) and (min-width: 700px) {
            &-tablet {
                display: block;
            }
        }
        @media(max-width: 699px) {
            &-mobile {
                display: block;
            }
        }
    }
    .menu-burger {
        max-width: 100%;
        max-height: 100%;
    }
    &__item:first-child {
        flex-grow: 0.524;
        padding: 32px 0;
    }
    &__item:nth-child(2) {
        flex-grow: 1;
    }
}
.js-hide-menu {
    display: none;
}
