%svg-common {
	background: url("svg/sprite.css-a49e8899.svg") no-repeat;
}

.svg-android-logo {
	@extend %svg-common;
	background-position: 14.911900579591268% 93.60382866036474%;
}

.svg-android-logo-dims {
	width: 42.084px;
	height: 47.041px;
}

.svg-apple-logo {
	@extend %svg-common;
	background-position: 15.34214785779754% 81.97224012061746%;
}

.svg-apple-logo-dims {
	width: 46.21px;
	height: 56.753px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 99.77740507007651% 59.4097894720267%;
}

.svg-facebook-dims {
	width: 8.673px;
	height: 18.944px;
}

.svg-glukhanko {
	@extend %svg-common;
	background-position: 23.429678881526122% 82.37721242943763%;
}

.svg-glukhanko-dims {
	width: 25.988px;
	height: 29.922px;
}

.svg-htmlacademy {
	@extend %svg-common;
	background-position: 30.60363592692117% 91.09138944478576%;
}

.svg-htmlacademy-dims {
	width: 26.096px;
	height: 33.803px;
}

.svg-logo-1 {
	@extend %svg-common;
	background-position: 90.554219054968% 68.47719754980068%;
}

.svg-logo-1-dims {
	width: 74.318px;
	height: 23.041px;
}

.svg-logo-desktop {
	@extend %svg-common;
	background-position: 70.89895808093047% 70.91641407654764%;
}

.svg-logo-desktop-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-logo-desktop2 {
	@extend %svg-common;
	background-position: 72.20765689362733% 62.02620087336244%;
}

.svg-logo-desktop2-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-logo-mobile {
	@extend %svg-common;
	background-position: 91.68898867871573% 59.87114715922727%;
}

.svg-logo-mobile-dims {
	width: 74.426px;
	height: 22.859px;
}

.svg-logo-tablet {
	@extend %svg-common;
	background-position: 35.449479040465235% 70.91641407654764%;
}

.svg-logo-tablet-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-logo-white-tablet {
	@extend %svg-common;
	background-position: 0 70.91641407654764%;
}

.svg-logo-white-tablet-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-menu-burger {
	@extend %svg-common;
	background-position: 24.532319690406737% 76.63565894555192%;
}

.svg-menu-burger-dims {
	width: 49.945px;
	height: 24.007px;
}

.svg-menu-cross {
	@extend %svg-common;
	background-position: 32.66994808776867% 76.61418230531031%;
}

.svg-menu-cross-dims {
	width: 23.866px;
	height: 23.866px;
}

.svg-microsoft-logo {
	@extend %svg-common;
	background-position: 23.135525104935564% 92.62939992742388%;
}

.svg-microsoft-logo-dims {
	width: 43.922px;
	height: 41.992px;
}

.svg-no {
	@extend %svg-common;
	background-position: 28.34599660308728% 81.85519982088884%;
}

.svg-no-dims {
	width: 26.752px;
	height: 26.752px;
}

.svg-quotes {
	@extend %svg-common;
	background-position: 0 83.21718781033306%;
}

.svg-quotes-dims {
	width: 78.673px;
	height: 63.788px;
}

.svg-smiley-1 {
	@extend %svg-common;
	background-position: 0 99.85375112798332%;
}

.svg-smiley-1-dims {
	width: 77.082px;
	height: 77.082px;
}

.svg-timer-2 {
	@extend %svg-common;
	background-position: 99.88101462682165% 0;
}

.svg-timer-2-dims {
	width: 260.644px;
	height: 301.835px;
}

.svg-timer-3 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-timer-3-dims {
	width: 298.001px;
	height: 345.097px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 82.05004616805171% 63.37508319719246%;
}

.svg-twitter-dims {
	width: 17.5px;
	height: 14.663px;
}

.svg-yes {
	@extend %svg-common;
	background-position: 98.12759517616458% 59.73240295104806%;
}

.svg-yes-dims {
	width: 30.375px;
	height: 21.688px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 84.83374972444705% 63.288242632153434%;
}

.svg-youtube-dims {
	width: 14.64px;
	height: 13.96px;
}
