.price-table {
  width: 100%;
    margin: 0 auto;
    border: solid 3px $dark-gray;
    border-collapse: collapse;
    font-size: $font-size;
    line-height: 30px;
    & td {
        border: solid 3px $dark-gray;
        border-collapse: collapse;
    }
    &__hidden {
        visibility: hidden;
    }
    &__option {
        padding: 10px 0 10px 1%;
        width: 20%;
        color: $blue;
        background-color: $white;
    }
    &__rate {
        position: relative;
        text-align: center;
        width: 20%;
        padding: 12px 0px;
        background-color: $blue;
        color: $white;
        border: solid $white 3px;
        &--price {
            font-size: $font-size--md;
            min-width: 100px;
            font-weight: 100;
            opacity: 0.8;
            display: block;
        }
        &--hit-icon {
          position: absolute;
          top:0;
          left: 0;
        }
    }
    &__icon {
        height: 22px;
        padding-top: 16px;
        padding-bottom: 12px;
        background-color: $white;
        &--check {
            max-width: 100%;
            max-height: 100%;
            fill: $green;
        }
        &--cross {
            max-width: 100%;
            max-height: 100%;
            fill: $red;
        }
    }
}

.price-list {
  position: relative;
  width: 100%;
  padding: 150px 10% 95px 10%;
  margin-bottom: 95px;
  overflow-x: hidden;
  box-sizing: border-box;
  @media(max-width: 1199px) {
    padding: 150px 5% 95px 5%;
  }
  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 200px;
    top: 30px;
    left: -1px;
    transform: rotate(-4.5deg);
    background-color: #f2f2f2;
    background-clip: content-box;
    @media(max-width: 1199px) {
      top: 30px;
    }
    @media(max-width: 699px) {
      top: 110px;
    }
  }
  &::after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 340px;
    top: 200px;
    left: -1px;
    background-color: #f2f2f2;
    background-clip: content-box;
  }
}
