.promo {
  width: 100%;
    position: relative;
    padding-top: 50px;
    overflow-x: hidden;
    &__slogan {
        width: 740px;
        margin: 0 auto 60px;
        font-size: $font-size--lg;
        font-weight: 300;
        color: $blue;
        text-align: center;
        &--narrow {
            display: block;
            width: 725px;
            @media(max-width: 699px) {
                width: 210px;
                margin-top: 30px;
            }
        }
        @media(max-width: 699px) {
            width: 210px;
            font-size: $font-size--md;
        }
    }
    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        width: 150%;
        height: 700px;
        top: 280px;
        left: -1px;
        transform: rotate(-4.5deg);
        background-color: #f2f2f2;
        background-clip: content-box;
    }
    &:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 800px;
      z-index: -1;
      bottom: 0;
      left: 0;
      background-color: #f2f2f2;
    }
}
