$white: #fff;
$blue: #283645;
$gray: #f2f2f2;
$dark-gray: #dedede;
$black: #000;
$pink: #d22856;
$green: #3dc644;
$red: #f25b26;


$html-size-base: 10px;
$font-size: 1.8rem;
$font-size--md: 2.4rem;
$font-size--bg: 3rem;
$font-size--lg: 5rem;

$line-height: 1.2;

$font-family-base: "Open Sans", Arial, sans-serif;
$font-family-lite: "Open Sans Condensed", Arial, sans-serif;
