@import "scaffolding.scss";
@import "variables.scss";
@import "main-nav.scss";
@import "intro.scss";
@import "download-info.scss";
@import "promo.scss";
@import "features.scss";
@import "carousel.scss";
@import "price-list.scss";
@import "contact.scss";

html {
  font-size: $html-size-base;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size;
  line-height: $line-height;
  color: $blue;
  background-color: $white;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $pink;
  text-decoration: none;
  &:hover,
  &:focus {
  }
}
